dl {
    border-radius: 12px;
    text-align: center;
    background: white;
    padding: 2rem;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    box-sizing: border-box;
}

dt {
    font-size: 0.625rem;
    font-weight: bold;
    color: hsl(0, 0%, 59%);
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

dd {
    font-size: 1.2rem;
    font-weight: 500;
    color: hsl(0, 0%, 17%);
    margin: 0;
    margin-top: 0.4rem;
}

hr + .dataItem {
    margin-top: 1.2rem;
}

hr {
    display: none;
}

@media screen and (min-width: 900px) {

    dl {
        display: flex;
        padding: 2rem 0;
        max-width: 52rem;
    }
    
    .dataItem {
        margin: 0;
        padding: 0 1.8rem;
        text-align: left;
        box-sizing: border-box;
        flex: 1 0 0;
    }

    hr + .dataItem {
        margin: 0;
    }

    hr {
        display: block;
        border: 0;
        border-left: 1px solid hsl(0deg 0% 82%);
        margin: 0.3rem 0;
    }
}

@media screen and (min-width: 1200px) {
    dl {
        padding: 2.4rem 0;
        max-width: 62rem;
    }

    .dataItem {
        padding: 0 2.125rem;
    }

    dt {
        font-size: 0.75rem;
    }

    dd {
        font-size: 1.5rem;
        margin-top: 0.7rem;
    }
}