.container {
    --border-radius: 12px;
    display: flex;
    max-width: 30rem;
    margin: 0 auto;
    border-radius: var(--border-radius);
}

form input {
    font-family: 'Rubik';
    font-size: 1.125rem;
    color: hsl(0, 0%, 17%);
    padding: 1rem 1.4rem;
    flex-grow: 1;
    min-width: 0;
    border: none;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    outline: none;
}

form button {
    background-color: black;
    width: 3.4rem;
    flex-shrink: 0;
    border: none;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}